.container{
    height: 100vh;
    width: 100%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
.Calculator{
    height: 550px;
    width: 350px;
    background-color: teal;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,70px);
    margin: 0 20px 0 0;
    box-shadow: 10px 20px 27px black;
    border-radius: 8px;
}
input{
    box-shadow: inset
    4px 4px 6px gray;
    height: 70px;
    border-radius: 18px;
    border: none;
    width: 270px;
    padding-right: 18px;
    grid-column: span 4;
    margin: 30px 0 0 0;
    outline: none;
    text-align: end;
    font-size: 30px;
}
button{
    height: 60px;
    width: 60px;
    border: 2px solid white;
    background-color: #45b7d1;
    border-radius: 50%;
}
.equal{
    width: 130px;
    border-radius: 30%;
}